body {
  font-family: Arial, sans-serif;
}

nav a {
  color: #333;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-decoration: none;
  padding: 10px;
}

nav a:hover {
  background-color: #e0e0e0;
}

div {
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 10px;
}